@use 'styles/variables.module.scss' as *;

.spinner {
  width: 100%;
  margin: 0 auto;

  svg {
    display: inline;
    color: $active-blue;
    fill: $white-text;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4b5563;
  }
}
